.main-container {
  background-color: #121212;
  padding: 15px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.card .card-con {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #121212;
  padding: 10px;
  overflow-y: scroll;
  height: 80vh;
  margin-bottom: 30px;
  background-color: #424242;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-btn button {
  padding: 15px;
  margin-right: 20px;
  width: 150px;
  border-radius: 5px;
  background-color: #ff5a79;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}
