.pokeinfo-main {
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokeinfo-con {
  position: relative;
  /* border: 1px solid blue; */
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.pokeinfo-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pokeinfo-con:hover .pokeinfo-card {
  transform: rotateY(180deg);
}

.pokeinfo-front {
  background-color: #ffdd67;
}

.pokeinfo-front,
.pokeinfo-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pokeinfo-back {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotateY(180deg);
  padding: 10px 10px 10px 20px;
}

.pokeinfo-back p {
  margin-left: 20px;
  font-style: italic;
}

.pokeinfo-back h3 {
  color: #ffdd67;
}

.pokeinfo-img {
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  padding: 10px;
}

.pokeinfo-name {
  height: 25%;
  background-color: #ffdd67;
}

.pokeinfo-name h1 {
  color: black;
}

.pokeinfo-con img {
  width: 90%;
  height: 90%;
}

.pokeinfo-id {
  position: absolute;
  top: -2px;
  right: 5px;
}

.pokeinfo-name h1 {
  text-align: center;
}

.types {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  text-align: center;
}

.types h3 {
  background-color: #ff5a79;
  width: 100px;
  padding: 5px;
}

.back-btn {
  padding: 10px;
  width: 100px;
  background-color: #ff5a79;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-btn:hover {
  transform: scale(1.1);
}
