.pokeinfo-main {
  background-color: gray;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeinfo-con {
  position: relative;
  border: 1px solid blue;
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.pokeinfo-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pokeinfo-con:hover .pokeinfo-card {
  transform: rotateY(180deg);
}

.pokeinfo-front,
.pokeinfo-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .pokeinfo-front {
  background-color: #bbb;
  color: black;
} */

.pokeinfo-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.pokeinfo-img {
  background-color: saddlebrown;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  padding: 10px;
}

.pokeinfo-name {
  height: 25%;
  background-color: red;
}

.pokeinfo-con img {
  width: 90%;
  height: 90%;
}
.pokeinfo-id {
  position: absolute;
  top: -2px;
  right: 5px;
}

.pokeinfo-name h1 {
  text-align: center;
}
