.main-container {
  background-color: lightblue;
  padding: 15px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.card .card-con {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: tomato;
  padding: 10px;
  overflow-y: scroll;
  height: 80vh;
  margin-bottom: 20px;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-btn button {
  padding: 10px;
  margin-right: 20px;
  width: 150px;
}
